{
	"parser": "babel-eslint",
	"env": {
		"node": true,
		"browser": true,
		"jasmine": true,
		"es6": true
	},

	"plugins": [
		"react"
	],

	"ecmaFeatures": {
		"arrowFunctions": true,
		"binaryLiterals": true,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"generators": false,
		"modules": true,
		"objectLiteralComputedProperties": true,
		"objectLiteralDuplicateProperties": true,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"octalLiterals": true,
		"regexUFlag": false,
		"regexYFlag": false,
		"spread": true,
		"superInFunctions": true,
		"templateStrings": true,
		"unicodeCodePointEscapes": true,
		"globalReturn": false,
		"jsx": true
	},

	"rules": {
		"camelcase": [2, {"properties": "always"}],/*default*/
		"consistent-return": 0,
		"curly": [2, "all"],/*default*/
		"eqeqeq": [2, "allow-null"],
		"indent": [2, "tab"],
		"guard-for-in": 2,
		"new-cap": 0,
		"no-bitwise": 2,
		"no-caller": 2,/*default*/
		"no-console": 0,
		"no-empty": 2,/*default*/
		"no-extend-native": 2,/*default*/
		"no-inner-declarations": 2,/*default*/
		"no-irregular-whitespace": 2,/*default*/
		"no-new": 2,/*default*/
		"no-throw-literal": 2,
		"no-undef": 2,/*default*/
		"no-underscore-dangle": 1,
		"no-unused-vars": 2,/*default*/
		"no-use-before-define": [2, "nofunc"],
		"no-var": 2,
		"quotes": [1, "single"],
		"radix": 2,
		"space-before-blocks": [1, "always"],
		"strict": [2, "never"],
		"wrap-iife": [2, "outside"],
		"valid-jsdoc": 1,


		"react/display-name": 1,
		"react/jsx-boolean-value": 1,
		"react/jsx-quotes": 1,
		"react/jsx-no-undef": 1,
		"react/jsx-sort-props": 0,
		"react/jsx-uses-react": 1,
		"react/jsx-uses-vars": 1,
		"react/no-did-mount-set-state": 1,
		"react/no-did-update-set-state": 1,
		"react/no-multi-comp": 1,
		"react/no-unknown-property": 1,
		"react/prop-types": 2,
		"react/react-in-jsx-scope": 2,
		"react/self-closing-comp": 2,
		"react/wrap-multilines": 2
	}
}
