#!/bin/sh
FILES=`git diff --cached --name-only | grep -i ".jsx\?$"`


# if SourceTree (or your fav GUI Git interface) errors saying it cannot find
# eslint or node, you will need update the sub-shell's path: (uncomment this block)
#
# if ! which eslint &>/dev/null ; then
# 	PATH=/opt/local/bin/:$PATH; # path to bin directory where node is.
# 	PATH=/Users/<username>/.npm/bin/:$PATH; # path to bin directory where eslint is.
# fi


for f in $FILES
do
	if [ ! -f $f ]; then  #file was deleted
		continue
	fi
	eslint $(pwd)/$f || exit 1;
done
